PORT=1903
DATABASE_URL=postgresql://user:password@localhost:5432/dream_studio
FIREBASE_STORAGE_BUCKET=dream-studio-ai-dhwix.firebasestorage.app
NODE_ENV=development
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Wfu19031903@
